.contact {
  margin-top: 5em;
  text-align: left;
  margin-left: 4em;
}

.phone,
.email {
  margin: -1em;
}

.phone img,
.email img {
  width: 2.5em;
}

.phone p,
.email p {
  position: relative;
  left: 4em;
  bottom: 2em;
  padding: 0;
}

.email a {
  text-decoration: none;
  color: white;
}
