.control {
    display: flex;    
}

.control button {
    width: 0.75rem;
    margin: 0.25rem;
    height: 0.75rem;
    background-color: #f0ebeb;
    border: 1px solid black;
    border-radius: 0.75rem;
}


.home a {
    color: white;
    font-size: 15px;
    font-weight: normal;
  }
  
  .home a:hover,
  .home a:focus {
    color: #61dafb;
    text-decoration: underline;
  }
  
.home h2 {
  margin-top: 2em;
}

  .home p {
    margin: 0 auto; 
    margin-top: 1em;
    padding:1em;
    font-size: 18px;
  }
  
  .home small {
    font-size: 17px;
  }