.control {
    display: flex;    
}

.control button {
    width: 0.75rem;
    margin: 0.25rem;
    height: 0.75rem;
    background-color: #f0ebeb;
    border: 1px solid black;
    border-radius: 0.75rem;
}

.home a {
    color: white;
    font-size: 15px;
    font-weight: normal;
  }
  
  .home a:hover,
  .home a:focus {
    color: #61dafb;
    text-decoration: underline;
  }
  
  .home p {
    justify-content: center;
    margin-top: 1.5em;
    padding: 1em;
    font-size: 24px;
  }
  
  .home small {
    font-size: 15px;
    margin: 1em;
  }