.contact {
  max-width: 700px;
  margin-top: 4em;
  text-align: left;
}

.phone,
.email {
  margin: -1em;
}

.phone img,
.email img {
  width: 2.5em;
  padding-left: 6em;
}

.phone p,
.email p {
  padding-left: 10em;
  margin: 0.5em auto;
  bottom: 3em;
  position: relative;
}

.email a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 540px) {
  .phone img,
  .email img {
    width: 2.5em;
    padding-left: 4em;
  }

  .phone p,
  .email p {
    padding-left: 8em;
    margin: 0.5em auto;
    bottom: 3em;
    position: relative;
  }
}
