.App {
  text-align: center;
	margin: 0em auto 2em;
	max-width: 55em;
}


.container {
  display: inline-block;
  margin: 7em;
  padding: 0.5rem;
  padding-bottom: 5em;

  border: 0.01em solid rgba(0, 0, 0, 0.438);
  border-radius: 1em;
  box-shadow: 5px 7px 18px 5px rgb(31, 30, 30);

  background-image: -moz-linear-gradient(to bottom left,
  #282c34ce,
  rgba(8, 8, 8, 0.24)
  );
}