.loginForm {
  max-width: 700px;
  margin: 3em auto;
}

.loginForm input {
  width: 70%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 0.8em;
  padding: 0.7em;
  margin-bottom: 0.7em;
  box-shadow: 0.5px 0.5px 10px 0.5px black;
  text-align: center;
}

.loginForm a {
  color: #fff;
  font-size: 13px;
}

.button-login {
    width: 74%;
    margin: 5px 0;
    padding: 0.7em;
    border: 1px solid black;
    border-radius: 0.8em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2em;
}

.button-login:hover,
.button-login:focus {
  background-color: #282c34;
  color: #fff;
  font-weight: bold;
}
